#root {
  max-height: 100vh;
  text-align: center;
  --primarycolor: white; /*rgb(73, 96, 166);*/
  --secondarycolor: lightgray; /*rgb(246, 175, 133);*/
  --textcolor: black;
}

body {
  margin: 0;
}

a {
  color: var(--textcolor);
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

#arrow {
  width: 15px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondarycolor);
  min-height: 150px;
  max-height: 15vh; /* 30vh */
  margin: 0;
  padding: 50px 0px 0px 0px;
  overflow: hidden;
}

#tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: var(--primarycolor);
  font-size: 28px;
  width: 600px;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background-color: var(--secondarycolor);
  padding: 6px;
}

#logo-header {
  height: 100px;
}

.logo-cart-container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Adjusted to space-between */
  align-items: center;
  background-color: var(--primarycolor);
}

.logo-cart-container > .logo-header-contianer {
  justify-content: flex-start;
  padding-left: 20px;
}

.logo-cart-container > .cart-icon-container {
  justify-content: flex-end;
}

.cart-icon-container {
  width: 185px;
  text-align: right;
  padding-right: 40px;
  position: relative; /* Ensure the parent has position: relative */
  display: inline-block;
}

.searchbar-form {
  width: 100%;
  text-align: center;
}

#searchbar {
  width: 300px;
  font-size: 23px;

  padding: 4px;
  border: none;
  &:focus {
    outline: none;
  }
}

#search-icon {
  background-color: white;
  &:hover {
    cursor: pointer;
  }
}

#search-container {
  display: flex;
  background-color: white;
  border-radius: 5px;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
}

.cart-container {
  height: 35px;
}

#items-cart {
  position: absolute;
  border-radius: 50%;
  background-color: var(--secondarycolor);
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  bottom: 0;
  right: 0;
  transform: translate(-35px);
}
.grid-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.item-container {
  width: 80%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1; /* flex-grow: 1, flex-shrink: 0, flex-basis: auto */
  width: 200px; /* Adjust the width based on your needs */

  border: 1px solid;
  border-radius: 15px;
  padding: 5px;
  margin: 5px; /* Optional margin for spacing */
  justify-content: space-between;
  transition: transform 0.3s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.item-price {
}

.item-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 15px;
}

.item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  width: 200px;
  object-fit: contain;
}

.dropdown {
  color: var(--textcolor);
  background-color: var(--secondarycolor);
}
.arrow-img {
  transition: transform 0.4s ease;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  background-color: var(--secondarycolor);
  z-index: 1;
  transform: translateY(-10px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out,
    visibility 0.4s ease-in-out;
  opacity: 0;
  gap: 10px;
  padding: 10px;
}
.women-container {
  height: fit-content;

  &:hover .dropdown-container {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  &:hover .arrow-img {
    transform: rotate(180deg);
  }
}

#women-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tab {
  &:hover {
    border-bottom: 1px solid var(--textcolor);
  }
}
/*
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu li a,
.menu .dropdown-content a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover,
.menu .dropdown-content a:hover {
  background-color: #555;
}

.menu .dropdown {
  display: inline-block;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}*/
