/*.item-page-container {
  display: flex;
  justify-content: space-around;

  padding: 20px;
}

.item-text-container {
  width: 45%;
}

.item-image-page {
  width: 300px;
  height: 390px;
  object-fit: contain;
}

.cart-items {
  display: flex;
}
*/
